<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/paragraphs">Paragraphs Home</a></li>
      </ul>
    </header>

    <main>
      <form action="/paragraphs" method="POST">
        Text: <textarea name="text"></textarea><br/>
        <input type="submit" value="Add Paragraph">
      </form>
    </main>

  </body>
</html>
