<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/paragraphs">Paragraphs Home</a></li>
      </ul>
    </header>

    <main>
      <h1>Pargraph Text</h1>
      <p><%=paragraph.text%></p>
    </main>

  </body>
</html>
