<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Announcements</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/announcements/new">New Announcement</a></li>
      </ul>
    </header>

    <main>
      <h2>List of Announcements</h2>
      <ul>
        <% for(let i = 0; i < announcements.length; i++){ %>
          <li>
            <a href="/announcements/<%=announcements[i]._id%>"><%=announcements[i].text%></a>
            <form action="/announcements/<%=announcements[i].id%>?_method=DELETE" method="post">
              <input type="submit" value="Delete"/>
            </form>
          </li>
        <% } %>
      </ul>
    </main>

  </body>
</html>
