<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/announcements">Announcements Home</a></li>
      </ul>
    </header>

    <main>
      <form action="/announcements" method="POST">
        <input type="submit" value="Make Announcement">
      </form>
    </main>

  </body>
</html>
