<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Welcome to Church</h1>
      <ul>
        <li><a href="/bulletins">Bulletins</a></li>
      </ul>
    </header>

  </body>
</html>
