header {
  background: rgb(76, 175, 181);
  color: rgb(255, 255, 255);
  height: 8em;
  top: 0;
}

h1 {
  position: absolute;
  margin: 1em;
}

.build {
  height: 400px;
  border: 1px solid black;
}

.review {
  height: 5000px;
  border: 1px solid red;
}
