<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/songs">Songs Home</a></li>
      </ul>
    </header>

    <main>
      <h2><%=song.title%></h2>
      <h5><%=song.copyrightInfo%></h5>
      <p><%=song.lyrics%></p>
    </main>

  </body>
</html>
