<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a New Bulletin</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bulletins">Bulletins Home</a></li>
      </ul>
    </header>

    <main>
      <form action="/bulletins" method="POST">
        <input type="submit" value="Make Bulletin">
      </form>
    </main>
    
  </body>
</html>
