<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href"/">Home</a></li>
        <li><a href="/stanzas">Stanzas Home</a></li>
      </ul>
    </header>

    <main>
      <form action="/stanzas" method="POST">
        Verse: <textarea name="verse"></textarea><br/>
        <input type="submit" value="Add Verse">
      </form>
  </body>
</html>
